/* Terms and condiotion header styling */
.bg-blue{
        background-color: #0063d1;
        color: #fff;
}
.bg-blue>h5, .bg-blue button>span{
       color: #fff !important;
}
/* Auction card addition styling */
.auc-cd-hidden{
        width: 40% !important;
}
.auct-cd-btn-bid{
        background: #0D8E0B !important;
        border-color:#0D8E0B !important;
        color: #fff !important;
}
.auct-cd-btn-cart{
        background: #0063D1 !important;
        border-color: #0063D1 !important;
        color: #fff !important;
}
.bg-faint-green{
        background: #DAE7DA;
}

/* Rental section styling */
.rental-sect{
        background: #DAE7DA;
}
.remove-br-b{
        border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.remove-br-t{
        border-top-right-radius: 0 !important;
         border-top-left-radius: 0 !important;
}

/* Deal products styling */

.product-floating-btn{
        opacity: 1 !important;
        right: 1.2rem !important;
}


/* buyer's dashboard */

.sect-head{
        background: #F1F1F1;
}
/* buyer dashboard >> single rental */
.red-text{
        color: #FF0000 !important;
}
.red-btn{
        background: #FF0000 !important;
}
.s-r-gallery .cz-thumblist-item{
        height: auto !important;
}

/* supplier Directory styling */
.sup-dir-wishlist{
    padding: 0 !important;
    padding-top: .2rem !important;
    position: absolute;
    top: .75rem;
    right: .75rem;
    z-index: 5;
    border: 0;
    border-radius: 50% !important;
    background-color: #f3f5f9;
    color: #373f50;
    text-align: center;
    width: 2rem;
    height: 2rem;
}
.sd-card-body{
    background: #f1f1f1;
}

/* Product Category styling */
.pr-cg-card{
        background: #E7EEFF;
}
.pr-cg-heading{
        position: absolute;
        bottom: .5rem;
        left: 2.5rem;
}
.pr-cg-card  .list-group-item{
        background: transparent !important;
        border-bottom-color: #0063d14f;
}